@model ProStocker.Web.Models.Usuario

<form asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" name="Nombre" value="@Model.Nombre" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Rol</label>
        <select name="Rol" class="form-select">
            <option value="Admin" selected="@(Model.Tipo == "Admin")">Admin</option>
            <option value="Usuario" selected="@(Model.Tipo  == "Usuario")">Usuario</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Activo</label>
        <input type="checkbox" name="Activo" checked="@Model.Activo" class="form-check-input" />
    </div>
</form>